@model IEnumerable<Projeto_1._0_eixo3_2024.Models.Cachorro>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Cachorros</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar Novo Cachorro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCachorro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NascimentoCachorro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RacaCachorro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCachorro)
                    @* <a asp-action="Historico" asp-route-id="@item.IdCachorro">@item.NomeCachorro</a>  ERRO NO HISTORICO *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NascimentoCachorro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RacaCachorro)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdCachorro">Editar</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdCachorro">Visualizar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdCachorro">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
