@model IEnumerable<Projeto_1._0_eixo3_2024.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Usuários</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Criar Usuário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeUsuario)
            </th>

         @*   <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
         *@

            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>

            <th>
                @Html.DisplayFor(modelItem => item.NomeUsuario)
            </th>

         @*
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
         *@
            
            <td>
                @Html.DisplayFor(modelItem => item.Perfil)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdUsuario">Editar</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdUsuario">Detalhes</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdUsuario">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
